#printWord{
    background-color: lightgreen; 
    text-align: center;
    font-family: "Courier New", 'Courier New', Courier, monospace;
  }
  
  #startBtn
  {
      background-color: #4CAF50; 
      border: none;
      color: white;
      padding: 20px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  #cajatexto{
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  display: inline;
}

  #tablero{
      outline-style: dotted;
  }

  #dataBoard{
text-align: center;
  }